<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Sad Navbar</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Didnt</a></li>
            <li><a href="#">Get to </a></li>
            <li><a href="#">Implement</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
